#container {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    @media screen and (max-width: 400px){
  }
}
.clock {
    width: 500px;
    height: 70px;
    background-color: black;
    border-radius: 40px;
    padding: 20px;
    margin: auto;
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    font-size: 50px;
    color: #33FFF7;
    @media screen and (max-width: 400px){
font-size: 20px;
width: 250px;
    height: 50px;
  }
}
